﻿@using ApplicationWeb.Models
@model  AbsenceViewModel

@if (Model.Motif != null)
{
    <h2>Modifier une absence</h2>
}
else
{
    <h2>Ajouter une absence</h2>
}

<div>
    <div>
        <div>
            <div>
                <form>
                    <div class="form-row">
                        <label for="motifAbscence">Motif:</label>
                        <input type="text" class="form-control" id="motifAbscence" value="@Model.Motif" style="max-width: 100%">
                    </div>
                    <div class="form-group">
                        <label for="dateAbscence">Date:</label>
                        <input type="text" class="form-control" id="dateAbscence" value="@Model.DateAbsence.Date.ToString("dd/MM/yyyy")" style="max-width: 100%">
                    </div>
                </form>
            </div>
            <div>
                <a class="btn btn-danger" onclick="history.go(-1)">Annuler</a>
                <a class="btn btn-primary" onclick="valider()">valider</a>
            </div>
        </div>
    </div>
</div>

<script>
    function valider() {
        $.ajax({
            url: "@Url.Action("createUpdateAbsence", new { id = Model.Id })",
            method: "POST",
            data: {
                idEleve: @Model.EleveId,
                motif: $('#motifAbscence').val(),
                date: $('#dateAbscence').val()
            },
            success: function (data) {
                if (data == "ok") {
                    document.location.href = "@Url.Action("DetailEleve", new { id = Model.EleveId })"
                } else {
                    alert(data);
                }
            }
        });
    }
</script>