﻿@using ApplicationWeb.Models
@model  NoteViewModel

@if (Model.Matiere != null)
{
    <h2>Modifier une note</h2>
}
else
{
    <h2>Ajouter une note</h2>
}

<div>
    <div>
        <div>
            <div>
                <form>
                    <div class="form-row">
                        <label for="matiereNote">Matière:</label>
                        <input type="text" class="form-control" id="matiereNote" value="@Model.Matiere" style="max-width: 100%">
                    </div>
                    <div class="form-group">
                        <label for="dateNote">Note:</label>
                        <input type="text" class="form-control" id="valeurNote" value="@Model.Note" style="max-width: 100%">
                    </div>
                    <div class="form-group">
                        <label for="valeurNote">Date:</label>
                        <input type="text" class="form-control" id="dateNote" value="@Model.DateNote.Date.ToString("dd/MM/yyyy")" style="max-width: 100%">
                    </div>
                    <div class="form-group">
                        <label for="noteAppreciation">Appreciation:</label>
                        <input type="text" class="form-control" id="noteAppreciation" value="@Model.Appreciation" style="max-width: 100%">
                    </div>
                </form>
            </div>
            <div>
                <a class="btn btn-danger" onclick="history.go(-1)">Annuler</a>
                <a class="btn btn-primary" onclick="valider()">valider</a>
            </div>
        </div>
    </div>
</div>

<script>
    function valider() {
        $.ajax({
            url: "@Url.Action("createUpdateNote", new { id = Model.Id })",
            method: "POST",
            data: {
                idEleve: @Model.EleveId,
                matiere: $('#matiereNote').val(),
                note: $('#valeurNote').val(),
                dateNote: $('#dateNote').val(),
                appreciation: $('#noteAppreciation').val()
            },
            success: function (data) {
                if (data == "ok") {
                    document.location.href = "@Url.Action("DetailEleve", new { id = Model.EleveId })"
                } else {
                    alert(data);
                }
            }
        });
    }
</script>