﻿@using ApplicationWeb.Models
@model  ElevesViewModel

    <div class="container">
        <br />
        <div class="row">
            <form>
                <div class="form-row">
                    <label for="EleveNom">Nom:</label>
                    <input type="text" class="form-control" id="EleveNom" value="@Model.nom" style="max-width: 100%">
                </div>
                <div class="form-group">
                    <label for="ElevePrenom">Prénom:</label>
                    <input type="text" class="form-control" id="ElevePrenom" value="@Model.prenom" style="max-width: 100%">
                </div>
                <div class="form-group">
                    <label for="EleveDate">Date de naissance:</label>
                    <input type="text" class="form-control" id="EleveDate" value="@Model.dateNaissance.Date.ToString("dd/MM/yyyy")" style="max-width: 100%">
                </div>
                <div class="form-group">
                    <label for="EleveClasse">Classe:</label>
                    <input id="EleveClasse" class="form-control" type="text" placeholder="@Model.classeId" readonly style="max-width: 100%">
                </div>
                <a class="btn btn-success" onclick="modifierEleve()">Modifier</a>
                <a class="btn btn-danger" onclick="history.go(-1)">Annuler</a>
                @Html.ActionLink("Voir la classe", "DetailClasse", "Classe", new { id = Model.classeId }, new { @class = "btn btn-primary" })
            </form>
        </div>

        <h1>Notes</h1>
        <h4>@Model.moyenne.ToString("00.00")/20</h4>
        <br />
        @if (Model.notes.Count > 0)
        {
            <figure id="chart" class="container"></figure>
            <figure id="chart2" class="container"></figure>
        }
        <br />
        <div class="row">
            <table class="table table-striped table-hover table-sm table-responsive tableauDetailEleves">
                <thead>
                    <tr>
                        <th>Matière</th>
                        <th>Date</th>
                        <td>Note</td>
                        <th>Appreciation</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var note in Model.notes)
                    {
                        <tr>
                            <td>@note.Matiere</td>
                            <td>@note.DateNote.Date.ToString("dd/MM/yyyy")</td>
                            <td>@note.Note</td>
                            <td>@note.Appreciation</td>
                            <td>
                                <a class="btn btn-danger" onclick="supprimerNote(@note.Id)">Supprimer</a>
                                <a class="btn btn-primary" href="@Url.Action("ActionNote", new { id = note.Id, idEleve = note.EleveId })">Modifier</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a class="btn btn-success" href="@Url.Action("ActionNote", new { id = -1, idEleve = Model.id })">Ajouter</a>
        </div>
        <h1>Absences</h1>
        <h4>@Model.absences.Count absences</h4>

        <br />
        <div class="row">
            <table class="table table-striped table-hover table-sm table-responsive tableauDetailEleves">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Motif</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var absence in Model.absences)
                    {
                        <tr>
                            <td>@absence.DateAbsence.Date.ToString("dd/MM/yyyy")</td>
                            <td>@absence.Motif</td>
                            <td>
                                <a class="btn btn-danger" onclick="supprimerAbsence(@absence.Id)">Supprimer</a>
                                <a class="btn btn-primary" href="@Url.Action("ActionAbsence", new { id = absence.Id, idEleve = absence.EleveId })">Modifier</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a class="btn btn-success" href="@Url.Action("ActionAbsence", new { id = -1, idEleve = Model.id })">Ajouter</a>
        </div>
    </div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    function chart() {
        // Charger l'API de visualisation et le paquet corechart.
        google.charts.load('current', { 'packages': ['corechart'] });

        // Définit un rappel à exécuter lorsque l'API Google Visualization est chargée.
        google.charts.setOnLoadCallback(drawChart);

        /* Callback qui crée et remplit une table de données,
        instancie le graphique en secteurs,
        transmet les données et le dessine. */
        function drawChart() {
            // Crée la table de données.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');

            const arr = JSON.parse('@Html.Raw(Json.Encode(@Model.notes))')
            const arr2 = new Array();

            var occurrences = {};
            for (var i = 0, j = arr.length; i < j; i++) {
                occurrences[arr[i]['Matiere']] = (occurrences[arr[i]['Matiere']] || 0) + 1;
            }

            for (i = 0; i < arr.length; i++) {
                if (!arr2.includes(arr[i]['Matiere'])) {

                    arr2.push(arr[i]['Matiere'])
                    data.addRows([[arr[i]['Matiere'], occurrences[arr[i]['Matiere']]]])
                }
            }

            // Définir les options du graphique
            var options = {
                'colors': ['#e0440e', '#e6693e', '#ec8f6e', '#f3b49f', '#f6c7b6'],
                is3D: false,
                'width': 600,
                'height': 300
            };


            // Instancie et dessine notre graphique en passant certaines options.
            var chart = new google.visualization.PieChart(document.getElementById('chart'));
            chart.draw(data, options);

        }
    }
    chart();

</script>
<script>
    function supprimerNote(id) {
        $.ajax({
            url: "/Eleves/DeleteNote/"+id ,
            method: "POST",
            data: {
                idNote: id,
            },
            success: function (data) {
                if (data == "ok") {
                    document.location.reload();
                } else {
                    alert(data);
                }
            }
        });
    }
    function supprimerAbsence(id) {
        $.ajax({
            url: "/Eleves/DeleteAbsence/"+id ,
            method: "POST",
            data: {
                idNote: id,
            },
            success: function (data) {
                if (data == "ok") {
                    document.location.reload();
                } else {
                    alert(data);
                }
            }
        });
    }

    function modifierEleve() {
        $.ajax({
            url: "@Url.Action("updateEleve", new { id = Model.id })" ,
            method: "POST",
            data: {
                idEleve: @Model.id,
                nom: $('#EleveNom').val(),
                prenom: $('#ElevePrenom').val(),
                dateNaissance: $('#EleveDate').val(),
                classeId: @Model.classeId
            },
            success: function (data) {
                if (data == "ok") {
                    document.location.reload();
                } else {
                    alert(data);
                }
            }
        });
    }
</script>