﻿@using ApplicationWeb.Models
@model  List<ClasseViewModel>

<div class="container"><br />
    <div class="row">
        <table class="table table-striped table-hover table-sm table-responsive" id="tableauClasse">
            <thead>
                <tr>
                    <th>Niveau</th>
                    <th>Nom</th>
                    <td>Détail</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var classe in Model)
                {
                    <tr>
                        <td>@classe.Niveau</td>
                        <td>@classe.NomEtablissement</td>
                        <td>
                            @Html.ActionLink("Détail", "DetailClasse", "Classe", new { id = classe.id }, new { @class = "btn btn-primary" })
                            @*<a class="btn btn-danger" onclick="supprimerClasse(@classe.id)">Supprimer</a>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function supprimerClasse(id) {
        $.ajax({
            url: "/Classe/DeleteClasse/" + id,
            method: "POST",
            data: {
                idNote: id,
            },
            success: function (data) {
                if (data == "ok") {
                    document.location.reload();
                } else {
                    alert(data);
                }
            }
        });
    }
</script>