﻿@using ApplicationWeb.Models
@model  List<ElevesViewModel>

<div class="container">
    <br />
    <div class="row">
        <table class="table table-striped table-hover table-sm table-responsive" id="tableauEleves">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Date de naissance</th>
                    <td>Détail</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var eleve in Model)
                {
                    <tr>
                        <td>@eleve.nom</td>
                        <td>@eleve.prenom</td>
                        <td>@eleve.dateNaissance.Date.ToString("dd/MM/yyyy")</td>
                        <td>@Html.ActionLink("Détail", "DetailELeve", "Eleves", new { id = eleve.id }, new { @class = "btn btn-primary" })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
