﻿@using ApplicationWeb.Models
@model  AccueilViewModel

<h2>les 5 meilleurs élèves</h2>
<div class="container">
    <br />
    <div class="row">
        <ul class="list-group">
            @foreach (var eleve in Model.bestEleves)
            {
                <a type="button" class="list-group-item list-group-item-action" href="Eleves/DetailELeve/@eleve.id">
                    nom: @eleve.nom prénom: @eleve.prenom classe n°: @eleve.classeId
                </a>
            }
        </ul>
    </div>
</div>
<h2>les 5 dernières absences</h2>
<div class="container">
    <br />
    <div class="row">
        <ul class="list-group">
            @foreach (var absence in Model.lastAbscence)
            {
                <a type="button" class="list-group-item list-group-item-action" href="Eleves/DetailELeve/@absence.EleveId">
                    date: @absence.DateAbsence.Date.ToString("dd/MM/yyyy") motif: @absence.Motif
                </a>
            }
        </ul>
    </div>
</div>
