﻿@using ApplicationWeb.Models
@model  ElevesViewModel

<h2>Ajouter un élève</h2>

<div>
    <div>
        <div>
            <div>
                <form>
                    <div class="form-row">
                        <label for="nom">Nom:</label>
                        <input type="text" class="form-control" id="nom" value="@Model.nom" style="max-width: 100%">
                    </div>
                    <div class="form-row">
                        <label for="prenom">Prénom:</label>
                        <input type="text" class="form-control" id="prenom" value="@Model.prenom" style="max-width: 100%">
                    </div>
                    <div class="form-group">
                        <label for="dateNaissance">date de naissance:</label>
                        <input type="text" class="form-control" id="dateNaissance" value="@Model.dateNaissance.Date.ToString("dd/MM/yyyy")" style="max-width: 100%">
                    </div>
                </form>
            </div>
            <div>
                <a class="btn btn-danger" onclick="history.go(-1)">Annuler</a>
                <a class="btn btn-primary" onclick="valider()">valider</a>
            </div>
        </div>
    </div>
</div>
@*@Url.Action("createEleve")*@
<script>
    function valider() {
        $.ajax({
            url: "/Eleves/create",
            method: "POST",
            data: {
                classeId: "@Model.classeId",
                nom: $('#nom').val(),
                prenom: $('#prenom').val(),
                dateNaissance: $('#dateNaissance').val()
            },
            success: function (data) {
                if (data == "ok") {
                    document.location.href = "@Url.Action("DetailClasse", new { id = Model.classeId })"
                } else {
                    alert(data);
                }
            }
        });
    }
</script>