﻿@using ApplicationWeb.Models
@model  ClasseViewModel

<div class="container">
    <br />
    <div class="row">
        <form>
            <div class="form-row">
                <label for="NomEtablissement">Nom établissement:</label>
                <input type="text" class="form-control" id="NomEtablissement" value="@Model.NomEtablissement" style="max-width: 100%">
            </div>
            <div class="form-group">
                <label for="Niveau">Niveau:</label>
                <input type="text" class="form-control" id="Niveau" value="@Model.Niveau" style="max-width: 100%">
            </div>
            <a class="btn btn-success" onclick="modifierClasse()">Modifier</a>
            <a class="btn btn-danger" onclick="history.go(-1)">Annuler</a>
        </form>
    </div>
    <h1>Elèves</h1>
    <br />
    <div class="row">
        <table class="table table-striped table-hover table-sm table-responsive tableauDetailEleves">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Date de naissance</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var eleve in Model.eleves)
                {
                <tr>
                    <td>@eleve.nom</td>
                    <td>@eleve.prenom</td>
                    <td>@eleve.dateNaissance.Date.ToString("dd/MM/yyyy")</td>
                    <td>
                        @Html.ActionLink("Modifier", "DetailELeve", "Eleves", new { id = eleve.id }, new { @class = "btn btn-primary" })
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <a class="btn btn-success" href="@Url.Action("ActionClasse", new { id = Model.id })">Ajouter</a>
    </div>
</div>

<script>
    function modifierClasse() {
        $.ajax({
            url: "@Url.Action("updateClasse", new { id = Model.id })" ,
            method: "POST",
            data: {
                idClasse: @Model.id,
                nom: $('#NomEtablissement').val(),
                niveau: $('#Niveau').val()
            },
            success: function (data) {
                if (data == "ok") {
                    document.location.reload();
                } else {
                    alert(data);
                }
            }
        });
    }
</script>